*{
    box-sizing: border-box;
}
body{
    margin: auto;
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
    font-size:xx-large;
}

.todoBox{
    padding: 10px;
    width: 60%;
    margin: auto;
    height: auto;
    margin-top: 120px;
}



.todoitem{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(84, 84, 84);
    width: 400px;
    margin: auto;
    padding: 2px;
}
.todoCtrl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}

input{
    font-size:large;
    width : 300px;
    height: 40px;
    
}

button{
    font-size: large;
    width: 100px;
    height: 40px;
    
}

#addBtn{
    background-color: rgb(255, 133, 2);
    border: none;
}
